services:
  quickpizza:
    # The QUICKPIZZA_IMAGE env. variable enables the use of a locally built image,
    # created with `make docker-build`.
    image: ${QUICKPIZZA_IMAGE:-ghcr.io/grafana/quickpizza-local:latest}
    ports:
      - "3333:3333"
    environment:
      QUICKPIZZA_OTLP_ENDPOINT: http://alloy:4318
      QUICKPIZZA_TRUST_CLIENT_TRACEID: 1
      QUICKPIZZA_PYROSCOPE_ENDPOINT: http://alloy:9999
      # must be set with an .env file
      QUICKPIZZA_CONF_FARO_URL: "${QUICKPIZZA_CONF_FARO_URL}"
      # must be set with an .env file
      QUICKPIZZA_CONF_FARO_APP_NAME: "${QUICKPIZZA_CONF_FARO_APP_NAME}"

      # Namespace label in Faro. Default: quickpizza
      # QUICKPIZZA_CONF_FARO_APP_NAMESPACE: quickpizza
      # Enable logging. Possible values: error, warn, debug. Default: info
      # QUICKPIZZA_LOG_LEVEL: debug
      # Service name label in Pyroscope. Default: quickpizza
      # QUICKPIZZA_PYROSCOPE_NAME: quickpizza
      # Namespace label in Pyroscope. Default: quickpizza
      # QUICKPIZZA_PYROSCOPE_NAMESPACE: quickpizza

  alloy:
    image: grafana/alloy:v1.9.1
    volumes:
      - "./alloy/alloy-cloud.river:/grafana-alloy.river:Z"
      - "${DOCKER_SOCKET:-/var/run/docker.sock}:/var/run/docker.sock"
    command:
      - run
      - /grafana-alloy.river
      - --server.http.listen-addr=0.0.0.0:12345
      - --stability.level=public-preview
    ports:
      - "12345:12345"
    environment:
      QUICKPIZZA_HOST: quickpizza:3333
      # must be set with an .env file
      GRAFANA_CLOUD_TOKEN: "${GRAFANA_CLOUD_TOKEN}"
      # must be set with an .env file
      GRAFANA_CLOUD_STACK: "${GRAFANA_CLOUD_STACK}"
    depends_on:
      - quickpizza
