name: Build and push Docker images
on:
  release:
    types:
      - published
jobs:
  all:
    name: Build and push
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Login to the registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set version
        uses: actions/github-script@v6
        id: set_version
        with:
          script: |
            const tag = context.ref.substring(10)
            const tag_no_v = tag.replace('v', '')
            core.setOutput('tag', tag)
            core.setOutput('tag-no-v', tag_no_v)
      - name: Build Docker image and push to the Registry
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/grafana/quickpizza-local:${{ steps.set_version.outputs.tag-no-v }}, ghcr.io/grafana/quickpizza-local:latest
