name: Verify scripts Workflow
on: [push]

jobs:
  basic_k6_test:
    name: k6 test run - verify scripts example
    runs-on: ubuntu-latest

    services:
      quickpizza:
        image: ghcr.io/grafana/quickpizza-local:latest # zizmor: ignore[unpinned-images]
        ports:
          - 3333:3333

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup k6
        uses: grafana/setup-k6-action@v1
      - name: Verify test script
        uses: grafana/run-k6-action@v1
        with:
          path: |
            ./k6/foundations/01.basic.js
          only-verify-scripts: true
