name: Environment Variables Test Workflow
on: [push]

jobs:
  basic_k6_test:
    name: k6 test run - environment variable example
    runs-on: ubuntu-latest

    services:
      quickpizza:
        image: ghcr.io/grafana/quickpizza-local:latest@sha256:9067de15119819a3ef17676b3245279937d9d9ef50e81a2ba0a8a30095d7bfce # zizmor: ignore[unpinned-images]
        ports:
          - 3355:3333

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Setup k6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1
      - name: Run k6 test
        uses: grafana/run-k6-action@c6b79182b9b666aa4f630f4a6be9158ead62536e # v1
        env:
          BASE_URL: "http://localhost:3355"
        with:
          path: |
            ./k6/foundations/01.basic.js
