name: Specific k6 version Workflow
on: [push]

jobs:
  basic_k6_test:
    name: k6 test run - specific k6 version example
    runs-on: ubuntu-latest

    services:
      quickpizza:
        image: ghcr.io/grafana/quickpizza-local:latest # zizmor: ignore[unpinned-images]
        ports:
          - 3333:3333

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup k6
        uses: grafana/setup-k6-action@v1
        with:
          k6-version: '0.49.0'
      - name: Run k6 test
        uses: grafana/run-k6-action@v1
        with:
          cloud-run-locally: false
          path: |
            ./k6/foundations/01.basic.js
