name: Specific k6 version Workflow
on: [push]

jobs:
  basic_k6_test:
    name: k6 test run - specific k6 version example
    runs-on: ubuntu-latest

    services:
      quickpizza:
        image: ghcr.io/grafana/quickpizza-local:0.15.11 # zizmor: ignore[unpinned-images]
        ports:
          - 3333:3333

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Setup k6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1
        with:
          k6-version: "0.49.0"
      - name: Run k6 test
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1
        with:
          cloud-run-locally: false
          path: |
            ./k6/foundations/01.basic.js
